# Python cache
__pycache__/
*.pyc
.vscode/

# Environment files
.env



# Virtual environments
venv/
.env/

# deployment/temporary scripts
update_aiven.py
bundle.py
inventory_full_context.txt

# local experiment files
cfpm/

# OS files
.DS_Store
Thumbs.db